max_connections = 100           # (change requires restart)
shared_buffers = 128MB          # min 128kB
dynamic_shared_memory_type = posix  # the default is the first option
log_destination = 'stderr'      # Valid values are combinations of
logging_collector = on          # Enable capturing of stderr and csvlog
log_directory = 'pg_log'        # directory where log files are written,
log_filename = 'postgresql-%a.log'  # log file name pattern,
log_truncate_on_rotation = on       # If on, an existing log file with the
log_rotation_age = 1d           # Automatic rotation of logfiles will
log_rotation_size = 0           # Automatic rotation of logfiles will
log_line_prefix = '< %m >'          # special values:
log_timezone = 'GB'
datestyle = 'iso, dmy'
timezone = 'GB'
lc_messages = 'en_GB.UTF-8'         # locale for system error message
lc_monetary = 'en_GB.UTF-8'         # locale for monetary formatting
lc_numeric = 'en_GB.UTF-8'          # locale for number formatting
lc_time = 'en_GB.UTF-8'             # locale for time formatting
default_text_search_config = 'pg_catalog.english'

listen_addresses = '*'
wal_level = hot_standby
max_wal_senders = {{ (groups['postgres']|length)*2 }}

{% if pg_status == "backup" %}
hot_standby = on
{% endif %}
